.circular-wheel {
    position: absolute;
    left: calc(-20vw);
    width: 30%;
    aspect-ratio: 1/1;
    top: calc(50vh - 15vw);
    border: var(--glitch-green) 1.5px solid;
    border-radius: 50%;
}