.glitch {
    color: var(--glitch-green);
  }

  .glitch:before {
    content: attr(data-text);
    position: absolute;
    opacity: 0.8;
    color: var(--glitch-pink);
    z-index: -1;
 }

  .panel.active .glitch:before, .panel.active .personal-image-underlay, .panel.active .terminal.underlay, .panel.active .terminal-control.underlay,
  .panel.active .terminal-tab.underlay, .panel.active .terminal-tab-container.underlay, .panel.active .personal-image.underlay {
    animation: glitch-text 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2;
  }

  .underlay {
    z-index: -1 !important;
    color: var(--glitch-pink) !important;
    opacity: 0.8;
  }

  .terminal.underlay {
    border: var(--glitch-pink) 1px solid !important;
  }

  .terminal-control.underlay, .terminal-tab.underlay, .terminal-tab-container.underlay {
    border: none !important;
  }

  .super-glitch {
    animation: super-glitch 0.5s infinite;
  }

  .super-glitch-reverse {
    animation: super-glitch 0.5s reverse infinite;
  }