
.information-display {
    position: absolute;
    margin: 30px;
    height: 0%;
    color: var(--glitch-green);
    width: 70%;
    right: 15%;
    background-image: url(../resources/information-display.png);
    background-size: 100% 100%;
    line-height: 23px;
    transition: 0.5s ease-out;
    overflow: hidden;
}

.information-display-underlay {
    position: absolute;
    margin: 30px;
    height: 0%;
    color: var(--glitch-pink);
    width: 70%;
    right: 15%;
    background-image: url(../resources/information-display-underlay.png);
    background-size: 100% 100%;
    z-index: -1;
    line-height: 23px;
    transition: 0.5s ease-out;
    overflow: hidden;
}

.panel.active .information-display {
    animation: openDisplay 0.5s ease-out 0.3s forwards;
}

.panel.active .information-display-underlay {
    animation: glitch-text 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s, openDisplay 0.5s ease-out 0.3s forwards;
}

.information-container {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 16%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 8%;
}

.information-title {
    position: absolute;
    font-size: 0.8vw;
    text-align: left;
    top: 3%;
    opacity: 0;
}

.information {
    font-size: 0.8vw;
    text-align: left;
    opacity: 0;
}

.panel.active .information {
    animation: blinkIn 0.5s linear 1.5s forwards;
}

.panel.active .information-title {
    animation: blinkIn 0.5s linear 1.5s forwards;
}

.panel.active .information:nth-child(1) {
    animation-delay: 1.5s;
}

.panel.active .information:nth-child(2) {
    animation-delay: 2s;
}

.panel.active .information:nth-child(3) {
    animation-delay: 2.5s;
}

.panel.active .information:nth-child(4) {
    animation-delay: 3s;
}

.panel.active .information:nth-child(5) {
    animation-delay: 3.5s;
}

.panel.active .information:nth-child(6) {
    animation-delay: 4s;
}

@media only screen {
    @media (max-width: 320px) {
        .information-title, .information {
            font-size: 7px;
        }
    }
    @media (min-width: 321px) and (max-width: 412px) {
        .information-title, .information {
            font-size: 8px;
        }
    }
    @media (min-width: 413px) and (max-width: 480px) {
        .information-title, .information {
            font-size: 9px;
        }
    }
    @media (min-width: 481px) and (max-width: 768px) {
        .information-title, .information {
            font-size: 12px;
        }
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        .information-title, .information {
            font-size: 14px;
        }
        @media (orientation: landscape) {
            .information-title, .information {
                font-size: 10px;
            }
        }
    }
    @media (min-width: 1025px) and (max-width: 1440px) {
        @media (orientation: landscape) {
            .information-title, .information {
                font-size: 12px;
            }
        }
    }

    @media (orientation: portrait) {
        .information-display, .information-display-underlay {
            margin: 0px;
        }
    }
}