@import 'keyframes.css';
@import 'glitch.css';
@import 'information-display.css';
@import 'decoration.css';
@import 'terminal.css';

:root {
  --glitch-green: #4AF626;
  --glitch-pink: #e627a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  pointer-events: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #111;
  text-shadow: 0 0 10px var(--glitch-green);
  filter: blur(0px);
}

.App {
  text-align: center;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, black 30%, #111 100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -2;
}

.panel.active {
  opacity: 1;
  animation: glitch 0.4s linear 1;
}

.panel-content-split {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.grid-box {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.occupation-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.iam {
  margin-bottom: 10px;
  font-size: 25px;
}

.occupation {
  line-height: 50px;
  font-size: 35px;
}

.error {
  font-size: 100px;
  text-shadow: 0 0 7px var(--glitch-green) !important;
}

.tracker-container {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  display: inline-block;
  place-content: center;
  opacity: 20%;
  transition: 0.3s;
  pointer-events: auto !important;
}

.tracker-container:hover {
  opacity: 100%;
}

.tracker {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.tracker button {
  width: 100%;
  position: relative;
  padding: 10px;
  border: 1px solid var(--glitch-green);
  background-color: black;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
  pointer-events: auto !important;
}

.tracker button:hover {
  background-color: var(--glitch-green);
  opacity: 70%
}

.tracker button.active {
  background-color: var(--glitch-green);
}

.tracker button::before {
  content: attr(data-text);
  position: absolute;
  right: 0;
  top: 4px;
  padding: 2px 5px;
  display: flex;
  background-color: var(--glitch-green);
  border-radius: 10%;
  opacity: 0%;
  transition: 0.3s;
  font-size: 8px;
}

.tracker button:hover::before {
  opacity: 100%;
  right: 150%;
}

.terminal-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    rgba(255, 255, 255, 0.05) 0px,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 2px,
    transparent 4px
  );
  animation: scanLines 1s linear infinite;
}

.personal-image {
  position: absolute;
  aspect-ratio: 1/1;
  width: 75%;
  left: 12.5%;
}

.dud {
  color: #757575;
}