.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, black 30%, #111 100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -2;
}

.panel.active {
  opacity: 1;
  animation: glitch 0.4s linear 1;
}

.panel-content-split {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.grid-box {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.occupation-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.iam {
  margin-bottom: 10px;
  font-size: 25px;
}

.occupation {
  line-height: 50px;
  font-size: 35px;
}

.error {
  font-size: 100px;
  text-shadow: 0 0 7px var(--glitch-green) !important;
}

.tracker-container {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  display: inline-block;
  place-content: center;
  opacity: 20%;
  transition: 0.3s;
  pointer-events: auto !important;
}

.tracker-container:hover {
  opacity: 100%;
}

.tracker {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.tracker button {
  width: 100%;
  position: relative;
  padding: 10px;
  border: 1px solid var(--glitch-green);
  background-color: black;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
  pointer-events: auto !important;
}

.tracker button:hover {
  background-color: var(--glitch-green);
  opacity: 70%
}

.tracker button.active {
  background-color: var(--glitch-green);
}

.tracker button::before {
  content: attr(data-text);
  position: absolute;
  right: 0;
  top: 4px;
  padding: 2px 5px;
  display: flex;
  background-color: var(--glitch-green);
  border-radius: 10%;
  opacity: 0%;
  transition: 0.3s;
  font-size: 8px;
}

.tracker button:hover::before {
  opacity: 100%;
  right: 150%;
}

.personal-image {
  position: absolute;
  aspect-ratio: 1/1;
  width: 75%;
  left: 12.5%;
}

@media only screen and (orientation: portrait) {
  .panel-content-split {
    flex-direction: column;
  }

  .panel-1.grid-box:nth-child(1) {
    flex-grow: 1;
  }

  .panel-1.grid-box:nth-child(2) {
    flex-grow: 2.5;
    bottom: 30px;
  }

  .personal-image {
    width: 36%;
    left: 32%;
  }

  @media (max-width: 767px) {
    .personal-image {
      width: 45%;
      left: 27.5%;
    }

    .tracker button {
      padding: 8px;
    }
    
    .tracker {
      padding: 20px;
    }

    .tracker button:hover::before {
      opacity: 0;
      right: 0;
    }
  }
}