* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #171716;
}

.App {
  text-align: center;
}

.panel {
  height: 100vh;
}

.content {
  padding: 20px;
  color: white;
}

.tracker-container {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  display: inline-block;
  place-content: center;
  opacity: 20%;
  transition: 0.3s;
}

.tracker-container:hover {
  opacity: 100%;
}

.tracker {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.tracker button {
  width: 100%;
  padding: 10px;
  border: 1px solid #FF5C00;
  background-color: #171716;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.3s;
}

.tracker button:hover {
  background-color: #FF5C00;
  opacity: 50%
}

.tracker button.active {
  background-color: #FF5C00;
}